* 

.mc {
    text-decoration: underline;
}


.ep {
    text-decoration: underline;
}

.df {
    text-decoration: underline;
}

.lg {
    text-decoration: underline;

}
.cd {
    text-decoration: underline;
}

.img {
    height: 300px;
    width: 150px

}